* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: Roboto;
    line-height: auto;
    color: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 30px;
}


/* NAVIGATION */

.nav > .container {
    display: flex;
    justify-content: space-between;
    padding-top: 11px;
    padding-bottom: 11px;
}

.nav__logo-container {
    display: flex;
    align-items: center;
}

.nav__logo {
    height: 61px;
    margin-right: 9px;
    transition: transform 200ms;
}
.nav__logo:hover {
    transform: rotate(180deg);
}

.nav__head {
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: bold;
    color: #BFFF00;
    transition: color 200ms;
}
.nav__head:hover {
    color: #FF00BF;
}

.nav-list {
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.nav-list__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-right: 20px;
    font-size: 18px;
    font-weight: 700;
}
.nav-list__item:last-child {
    margin-right: 0;
}
.nav-list__item::before {
    content: '';
    position: absolute;
    top: 100%; bottom: -7px;
    width: 0;
    background: #BFFF00;
    transition: width 200ms;
}
.nav-list__item:hover::before {
    width: 100%;
}
.nav-list__item a {
    display: flex;
    align-items: center;
    color: #E5E5E5;
    height: 100%;
}

.nav__account {
    display: flex;
    align-items: center;
}

.nav__login-link, .nav__logup-link {
    font-size: 18px;
}

.nav__login-link {
    margin-right: 20px;
    font-weight: 700;
}
.nav__login-link a {
    color: #fff;
}

.nav__logup-link {
    z-index: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 7px 15px 7px 15px;
    transition: box-shadow 200ms;
}
.nav__logup-link:hover {
    box-shadow: 0 0 15px rgba(191, 255, 0, 0.75);
}
.nav__logup-link:active {
    margin-right: 2px;
    margin-left: 2px;
    box-shadow: none;
}
.nav__logup-link::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0;
    background: #BFFF00;
    border-radius: 7px 15px 7px 15px;
    transition: width 200ms;
}
.nav__logup-link:hover::before {
    width: 100%;
}
.nav__logup-link a {
    z-index: 1;
    color: #6E1B00;
    padding: 13px 19px;
}
.nav__logup-link a:active {
    padding: 11px 17px;
}


/* HEADER */

.header {
    background-image: url("../img/background/header.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 15.42% bottom 0;
}
@media screen and (min-width: 1921px) {
    .header {
        background-size: contain;
        background-position: center;
    }
}

.header__content > .container {
    display: flex;
}

.header__about {
    display: flex;
    flex-direction: column;
}

.header__head {
    margin-left: 40px;
    margin-top: 30px;
    font-family: 'Open Sans';
    font-size: 48px;
    font-weight: 600;
    color: #fff;
}

.header__descr {
    margin-left: 40px;
    margin-top: 6px;
    font-size: 20px;
    color: #E5E5E5;
}

.header__download-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 227px;
    margin-top: 102px;
    margin-bottom: 64px;
    font-size: 24px;
    background: #fff;
    border-radius: 55px;
    width: fit-content;
    transition: box-shadow 200ms;
}
.header__download-btn:hover {
    box-shadow: 0 0 15px rgba(191, 255, 0, 0.75);
}
.header__download-btn:active {
    margin-left: 229px;
    margin-top: 104px;
    margin-bottom: 66px;
    margin-right: 2px;
    box-shadow: none;
}
.header__download-btn::before {
    z-index: 0;
    content: '';
    position: absolute;
    background: #BFFF00;
    width: 0;
    height: 100%;
    border-radius: 55px;
    transition: width 200ms;
}
.header__download-btn:hover::before {
    width: 100%;
}
.header__download-btn a {
    z-index: 1;
    padding: 13px 37px;
    color: #6E1B00;
}
.header__download-btn a:active {
    padding: 11px 35px;
}

.header__register {
    margin-top: 16px;
    margin-left: 93px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 43px 71px;
    background: #fff;
    height: fit-content;
    border: 1px solid #CBCBCB;
    border-radius: 10px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
}

.header__register__head {
    font-weight: bold;
    font-size: 18px;
    color: #525252;
    text-align: center;
}
.header__register__head a {
    color: #7646FF;
}
.header__register__head a:hover {
    text-decoration: underline;
}

.header__register__email-input {
    width: 250px;
    margin-top: 40px;
    font-size: 16px;
    padding: 12px 20px;
    border: 1px solid #CBCBCB;
    border-radius: 5px;
    color: #5E5C5C;
    outline: none;
    transition-property: padding margin-top margin-left margin-right margin-bottom border box-shadow;
    transition-duration: 200ms;
}
.header__register__email-input:focus {
    border: 3px solid #BFFF00;
    padding: 14px 22px;
    margin-top: 38px;
    margin-left: -2px;
    margin-right: -4px;
    margin-bottom: -4px;
    box-shadow: 0 0 15px rgba(191, 255, 0, 0.75);
}
.header__register__email-input::placeholder {
    color: #CBCBCB;
}

.header__register__start-register-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
    width: fit-content;
    background: #BFFF00;
    border-radius: 49px;
    border: none;
    padding: 12px 27px;
    font-weight: bold;
    font-size: 16px;
    color: #384A00;
    cursor: pointer;
    transition: color 200ms, box-shadow 200ms;
}
.header__register__start-register-btn span {
    z-index: 1;
}
.header__register__start-register-btn::before {
    z-index: 0;
    content: '';
    position: absolute;
    background: #7646FF;
    height: 100%;
    width: 0;
    border-radius: 49px;
    transition: width 200ms;
}
.header__register__start-register-btn:hover {
    color: #CBCBCB;
    box-shadow: 0 0 15px rgba(120, 71, 255, 0.75);
}
.header__register__start-register-btn:hover::before {
    width: 100%;
}
.header__register__start-register-btn:active {
    padding: 10px 23px;
    margin-top: 37px;
    margin-bottom: 2px;
    box-shadow: none;
}


/* NEWS */

.news {
    margin-top: 30px;
}

.news > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news__head {
    margin-bottom: 40px;
    text-align: center;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 36px;
    color: #525252;
}

.news-item {
    padding: 20px;
    display: flex;
    height: 282px;
}

.news-item__image {
    position: relative;
    width: 501px;
    margin-right: 20px;
    background-image: url("../img/background/news_item-example.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.news-item__image .pop-up {
    visibility: hidden;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 5px;
}

.pop-up__read-more {
    font-weight: 700;
    color: #000;
    padding: 15px 15px;
    border: 3px solid #000;
    border-radius: 7px;
}

.news-item__text {
    position: relative;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.news-item__date {
    margin-bottom: 15px;
    font-size: 14px;
    color: #7646FF;
}

.news-item__head {
    margin-bottom: 17px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 30px;
    color: #6E1B00;
}

.news-item__descr {
    position: relative;
    font-size: 16px;
    color: #5E5C5C;
}
.news-item__descr::after {
    z-index: 0;
    position: absolute;
    content: '';
    background: linear-gradient(360deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    bottom: 0; left: 0; right: 0;
    height: 40px;
}

.news-item__descr__link-hidden {
    z-index: 1;
    position: absolute;
    top: 0;left: 0;right: 0;bottom: 0;
}

.news__read-more-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 178px;
    font-size: 16px;
    background: #7646FF;
    border-radius: 33.5px;
    transition: box-shadow 200ms;
}
.news__read-more-btn:hover {
    box-shadow: 0 0 15px rgba(255, 0, 191, 0.75);
}
.news__read-more-btn:active {
    margin-top: 52px;
    margin-bottom: 180px;
    box-shadow: none;
}
.news__read-more-btn::before {
    position: absolute;
    z-index: 0;
    content: '';
    background: #ff00bf;
    height: 100%;
    width: 0;
    border-radius: 33.5px;
    transition: width 200ms;
}
.news__read-more-btn:hover::before {
    width: 100%;
}
.news__read-more-btn a {
    z-index: 1;
    padding: 15px 23px;
    color: #E5E5E5;
}
.news__read-more-btn a:active {
    padding: 13px 21px;
}


/* FOOTER */

.indent {
    flex: 1;
}

.footer {
    background: #000000;
}

.footer > .container{
    display: flex;
    justify-content: center;
}

.footer__copyright {
    padding: 41px 0;
    color: #7F7F7F;
}